* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    background-color: #12181B;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
}
@media screen and (max-width:450px) {
    
    .title {
     
        padding-left: 26px;
        color: blueviolet;
        text-align: center;
        font-size: 25px;
        margin-top: 10%;
    }

    .hide {
        display: none;
    }
    .container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 43% 43% 43%;
        grid-template-rows: 35% 35% 35%;
        max-width: 200px;
        
    
    }

    .controls button {
       
        color: rgb(0, 0, 0);
        padding: 12px;
        border-radius: 8px;
        border: none;
        font-size: 15px;
        margin-left: 3.5em;
        cursor: pointer;
       
    }

  
    #reset {
        background-color: #f16609;
        font-style: oblique;
    }
    #reset:hover {
        background-color: #06f1de;
    }

    .display {
        color: yellow;
        font-size: 25px;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1.5em;
    }

    .tile {
        border: 1px solid white;
        min-width: 85px;
        min-height: 85px;
        display: flex;
   
        align-items: center;
        font-size: 35px;
        cursor: pointer;
        margin-right: 2em;
    }

    .background {
        background:linear-gradient(180deg, #f12578,#fda158);
        height: 100vh;
        padding-top: 1px;
    }
    h5{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 35px;
        background: linear-gradient(
            280deg, red,black
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: italic;
        text-transform: capitalize;
    }

}


